@import "../base/variables";

.footer {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.4rem;
  font-weight: 500;
  .count {
    padding-right: 2rem;
    font-weight: 600;
  }
  .number {
    padding-right: 5px;
    color: $color-verde;
  }
  .clear {
    font-size: 1rem;
    color: white;
    background-color: $color-verde;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 25px;
  }
}
