@import "../base/variables";

.footer {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.4rem;
  .count {
    padding-right: 2rem;
  }
  .number {
    padding-right: 5px;
    color: $color-verde;
  }
  .clear {
    color: white;
    background-color: $color-verde;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
  }
}
