.todo {
  padding: 7%;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s, height 0.3s;
  button {
    width: 20px;
    height: 20px;
  }
  label {
    font-size: 1.5rem;
    background-color: transparent;
    font-weight: 500;
    white-space: nowrap;
  }
  input {
    width: fit-content;
    display: flex;
    justify-content: left;
  }
}
.completedTodo {
  background-color: #01934d;
  height: 100%;
  border-radius: 20px;
  transition: background-color 0.3s, height 0.3s;

  label {
    text-decoration: line-through;
  }
}
