.todos {
  padding-top: 2%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.4%, 18%));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  .todo {
    background-color: white;
    position: relative;
    height: 160px;
    border-radius: 10px;
    display: flex;
  }
}
